<section class="about slide-up" id="about">
	<div class="about--container">

		<div class="about--left">
			
			<div class="image-wrapper">
				<div class="about--image"></div>
			</div>

		</div>
				
		<div class="about--right">
			
			<div class="editor--container">
				<div class="editor--menu-bar">					
					<div class="editor--buttons--container">
						<div class="editor--button editor--button--close"></div>
						<div class="editor--button editor--button--minimize"></div>
						<div class="editor--button editor--button--maximize"></div>
					</div>
					<div class="editor--file-name">
						<p>about.md</p>
					</div>
					<div class="editor--menu-bar--spacer"></div>
				</div>

				<div class="editor--content">
					<p class="mono editor--content--large"># Hi, I'm Oli!</p>
					<br>
					<p class="mono editor--content--normal">I'm a web designer and developer from Bingley, UK.</p>
					<br>
					<p class="mono editor--content--normal">I have a passion for creating websites that look great and communicate well.</p>
					<br>
					<p class="mono editor--content--normal">You can view my portfolio and contact me below.</p>
				</div>
			</div>

		</div>

	</div>
</section>