<div class="nav-mobile">
	<nav>
		
		<ul>
			<li><a class="scroll-link" href="#about">About</a></li>
			<li><a class="scroll-link" href="#portfolio">Portfolio</a></li>
			<li><a class="scroll-link" href="#blog">Blog</a></li>
			<!-- <li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#what-i-use">What I Use</a></li> -->
			<li><a class="scroll-link" href="#contact">Contact</a></li>
		</ul>

	</nav>
</div>

<header>
	<div class="header-content">
		
		<div class="logo-wrapper">
			<h1 class="logo">Oli Laban</h1>
		</div>

		<nav class="header-nav">
			<ul>
				<li>
					<div class="nav-indicator nav-indicator--about"><div></div></div>
					<a class="scroll-link" href="#about">About</a>
				</li>
				<li>
					<div class="nav-indicator nav-indicator--what-i-do"><div></div></div>
					<a class="scroll-link" href="#portfolio">Portfolio</a>
				</li>
				<li>
					<div class="nav-indicator nav-indicator--blog"><div></div></div>
					<a class="scroll-link" href="#blog">Blog</a>
				</li>
				<!-- <li>
					<div class="nav-indicator nav-indicator--portfolio"><div></div></div>
					<a href="#portfolio">Portfolio</a>
				</li> -->
				<!-- <li>
				    <div class="nav-indicator nav-indicator--what-i-use"><div></div></div>
					<a href="#what-i-use">What I Use</a>
				</li> -->
				<li>
					<div class="nav-indicator nav-indicator--contact"><div></div></div>
					<a class="scroll-link" href="#contact">Contact</a>
				</li>
			</ul>
		</nav>

		<div class="header-item-spacer"></div>

		<div class="nav-toggle">
			<span></span>
		</div>

	</div>
</header>