.posts--wrapper {
	display: flex;
	justify-content: center;
	padding-top: 50px;

	.posts--content {
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 15px;
		.posts--post-title {
			color: #333;
			font-size: 20px;
			font-weight: 300;
			margin-bottom: 0;
			transition: 0.3s color;

			span {
				font-size: 17px;
			}
		}
		a:hover {
			.posts--post-title {
				color: #aaa;
			}
		}
		.posts--post-date {
			margin-top: 5px;
			color: #aaa;
			font-style: italic;
			margin-bottom: 25px;
		}
	}
}