// Colors
$dark-grey: #303030;
$near-white: #fdfdfd;

$about-section: #2980b9;
$skills-section: #d14233;
$blog-section: #2ecc71;
$contact-section: #8e44ad;
$footer-section: #f1c40f;

// Header vars
$header-width: 170px;